In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
csvpath = '/home/monster/Downloads/kaggle/AV-L&T-loan/ensb_csvs'
csv_list = os.listdir(csvpath)

In [3]:
csv_list

['472_61752_us_ens_4_without_corr_hmean.csv',
 '472_61752_us_sub1_kHMCvEB.csv',
 '472_61752_us_ens_1_Dw0KAyv.csv',
 '472_61752_us_ens_1_ujGJ5Q1.csv',
 '472_61752_us_sub1_jbuYZTV.csv',
 '472_61752_us_sub1_42tk3Hq.csv',
 '472_61752_us_ens_3_without_corr.csv',
 '472_61752_us_ens_2.csv',
 '472_61752_us_ens_1_pctrQtR.csv']

In [4]:
df = pd.DataFrame()
for i, name in enumerate(csv_list):
    tmpdf = pd.read_csv(csvpath+'/'+name)
    tmpdf.columns = ['UniqueID_'+str(i), 'loan_default_'+str(i)]
    df = pd.concat([df,tmpdf],axis=1)

In [5]:
df.shape

(112392, 18)

In [6]:
df.columns

Index(['UniqueID_0', 'loan_default_0', 'UniqueID_1', 'loan_default_1',
       'UniqueID_2', 'loan_default_2', 'UniqueID_3', 'loan_default_3',
       'UniqueID_4', 'loan_default_4', 'UniqueID_5', 'loan_default_5',
       'UniqueID_6', 'loan_default_6', 'UniqueID_7', 'loan_default_7',
       'UniqueID_8', 'loan_default_8'],
      dtype='object')

In [7]:
df.drop(['UniqueID_1','UniqueID_2','UniqueID_3','UniqueID_4', 'UniqueID_5','UniqueID_6',
 'UniqueID_7','UniqueID_8'],axis=1, inplace=True)
         
#          ,'UniqueID_9','UniqueID_10','UniqueID_11','UniqueID_12','UniqueID_13'],axis=1, inplace=True)

In [8]:
df.columns =['UniqueID', 'loan_default_0', 'loan_default_1', 'loan_default_2',
       'loan_default_3', 'loan_default_4', 'loan_default_5', 'loan_default_6',
       'loan_default_7', 'loan_default_8']

In [ ]:
# df.columns = ['UniqueID', 'loan_default_0', 'loan_default_1', 'loan_default_2',
#        'loan_default_3', 'loan_default_4', 'loan_default_5', 'loan_default_6',
#        'loan_default_7', 'loan_default_8', 'loan_default_9', 'loan_default_10',
#        'loan_default_11','loan_default_12','loan_default_13']

In [9]:
df.head()

,UniqueID,loan_default_0,loan_default_1,loan_default_2,loan_default_3,loan_default_4,loan_default_5,loan_default_6,loan_default_7,loan_default_8
0,655269,0.241180,0.264024,0.249638,0.249638,0.245546,0.223151,0.242206,0.249638,0.249638
1,723482,0.302928,0.326950,0.297701,0.297701,0.328811,0.367981,0.303790,0.297701,0.297701
2,758529,0.309095,0.330641,0.306109,0.306109,0.360254,0.287200,0.310372,0.306109,0.306109
3,763449,0.296191,0.394687,0.316770,0.316770,0.361883,0.405825,0.297495,0.316770,0.316770
4,708663,0.329071,0.306807,0.322907,0.322907,0.321524,0.285912,0.329579,0.322907,0.322907

In [10]:
df.corr()

,UniqueID,loan_default_0,loan_default_1,loan_default_2,loan_default_3,loan_default_4,loan_default_5,loan_default_6,loan_default_7,loan_default_8
UniqueID,1.000000,0.125557,0.157494,0.116198,0.116198,0.152326,0.151563,0.126988,0.116198,0.116198
loan_default_0,0.125557,1.000000,0.920946,0.995716,0.995716,0.912707,0.908456,0.999619,0.995716,0.995716
loan_default_1,0.157494,0.920946,1.000000,0.930604,0.930604,0.953984,0.935887,0.921123,0.930604,0.930604
loan_default_2,0.116198,0.995716,0.930604,1.000000,1.000000,0.924769,0.918225,0.995773,1.000000,1.000000
loan_default_3,0.116198,0.995716,0.930604,1.000000,1.000000,0.924769,0.918225,0.995773,1.000000,1.000000
loan_default_4,0.152326,0.912707,0.953984,0.924769,0.924769,1.000000,0.932850,0.913335,0.924769,0.924769
loan_default_5,0.151563,0.908456,0.935887,0.918225,0.918225,0.932850,1.000000,0.908727,0.918225,0.918225
loan_default_6,0.126988,0.999619,0.921123,0.995773,0.995773,0.913335,0.908727,1.000000,0.995773,0.995773
loan_default_7,0.116198,0.995716,0.930604,1.000000,1.000000,0.924769,0.918225,0.995773,1.000000,1.000000
loan_default_8,0.116198,0.995716,0.930604,1.000000,1.000000,0.924769,0.918225,0.995773,1.000000,1.000000

In [11]:
summary_ave_data = df.copy()
# summary_ave_data = df.copy().drop(['loan_default_0', 'loan_default_2',
#        'loan_default_3', 'loan_default_4','loan_default_9',
#        'loan_default_11','loan_default_12'],axis=1)

summary_ave_data['average'] = summary_ave_data.iloc[:,1:].mean(numeric_only=True, axis=1)
summary_ave_data.head()

,UniqueID,loan_default_0,loan_default_1,loan_default_2,loan_default_3,loan_default_4,loan_default_5,loan_default_6,loan_default_7,loan_default_8,average
0,655269,0.241180,0.264024,0.249638,0.249638,0.245546,0.223151,0.242206,0.249638,0.249638,0.246073
1,723482,0.302928,0.326950,0.297701,0.297701,0.328811,0.367981,0.303790,0.297701,0.297701,0.313474
2,758529,0.309095,0.330641,0.306109,0.306109,0.360254,0.287200,0.310372,0.306109,0.306109,0.313555
3,763449,0.296191,0.394687,0.316770,0.316770,0.361883,0.405825,0.297495,0.316770,0.316770,0.335907
4,708663,0.329071,0.306807,0.322907,0.322907,0.321524,0.285912,0.329579,0.322907,0.322907,0.318280

In [15]:
df1 = summary_ave_data[['UniqueID','Haverage']]

In [16]:
df1.columns =['UniqueID', 'loan_default']

In [17]:
df1.to_csv('ens_6_without_corr_score>667+harmonic.csv',index=False)

In [13]:
from scipy import stats

In [22]:
stats.hmean(summary_ave_data.iloc[:,1:])

array([0.17026457, 0.18107101, 0.17301511, 0.17471561, 0.17184326,
       0.17302203, 0.18107101, 0.17757042])

In [14]:
summary_ave_data['Haverage'] = stats.hmean(summary_ave_data.iloc[:,1:-1],axis=1)

In [29]:
summary_ave_data.head()

,UniqueID,loan_default_1,loan_default_5,loan_default_6,loan_default_7,loan_default_8,loan_default_10,loan_default_13,average,Haverage
0,655269,0.239905,0.249638,0.237593,0.215195,0.270294,0.233182,0.249638,0.242206,0.241180
1,723482,0.298171,0.297701,0.308409,0.291419,0.342936,0.290197,0.297701,0.303790,0.302928
2,758529,0.304383,0.306109,0.340632,0.316636,0.272776,0.325962,0.306109,0.310372,0.309095
3,763449,0.281604,0.316770,0.268908,0.322173,0.280890,0.295350,0.316770,0.297495,0.296191
4,708663,0.318516,0.322907,0.334129,0.332543,0.358591,0.317460,0.322907,0.329579,0.329071

In [18]:
df1.head()

   UniqueID  loan_default
0    655269      0.245636
1    723482      0.311996
2    758529      0.312429
3    763449      0.331783
4    708663      0.317711

In [2]:
df = pd.read_csv('ens_6_without_corr_score>667+harmonic.csv')

In [4]:
df['loan_default'] = 1-df['loan_default']

In [6]:
df.to_csv('ens_reversed_probs.csv',index=False)